footer{
    width: 100%;
    background-color: #0fd06e;
    color: rgb(51,55,61);
    font-size: 1.6rem;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px; 
  }
  .btn{
    background-color: rgb(51,55,61);
    color: azure;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media span a{
    padding: 5px 10px;
  }
  .social-media span a:hover{
    color: orangered;
  }
  .footer-2 p a :hover {
    color: orangered;
  }
  @media screen and (max-width: 800px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
  }

  /* .footer p {
    color: #fff;
  } */